.heading{
  background-color: rgb(209, 214, 157);
  text-align: center;
  padding: 2rem 0px;
  font-weight: bold;
  font-size: 1.5rem;
}
.add-item{
  background-color: rgba(70, 96, 100, 0.288);
}
.add-item > div{
  margin:1rem 0;
}
.add-item label{
  display:block;
}
.add-item input,.add-item select{
  height:100%;
  width:100%;
}
.btn{
  border:none;
  background-color:  rgb(209, 214, 157);
  color:black;
  padding:10px 15px;
  margin-left:350px;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item>div{
  flex:1;
  text-align: center;
  margin: 0.5rem 0;
}
.item:nth-child(even){
  background-color: rgb(205, 206, 132);;
}
.footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left:0;
  padding: 2rem 0px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color:rgb(209, 214, 157);
}